HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

frontend/node_modules
frontend/.idea

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/application-dev.yml
/src/main/java/org/example/aitoolsbox/box/unity/test/
/src/main/resources/prompt/
/src/test/java/org/example/aitoolsbox/UnityAppTest.java
/ToDO.md
/src/test/java/org/example/aitoolsbox/PgVectorVectorStoreConfigTest.java
/tmp/
/src/test/java/org/example/aitoolsbox/FileOperationToolTest.java
/src/test/java/org/example/aitoolsbox/WebScrapingToolTest.java
/src/test/java/org/example/aitoolsbox/test/
/src/main/java/org/example/aitoolsbox/box/unity/test/
/src/test/java/org/example/aitoolsbox/test/
/src/test/java/org/example/aitoolsbox/imagetest/
/src/main/resources/application-dev.yml
/src/main/resources/document/深入理解C (3rd Edition).pdf
/src/test/java/org/example/aitoolsbox/test/
